{% extends 'layouts/base.html' %} {% block title %} Crear empresa {% endblock %} {% block content %}
<style>
    h1 {
        color: #000000;
        text-shadow: 2px 1px 0 #7A7A7A;
        color: #000000;
        text-align: center;
    }
    
    div.est {
        height: 100px;
        width: 800px;
    }
    
    div.est2 {
        height: 60px;
        width: 400px;
        margin: 30px auto;
    }
    
    button {
        margin: 0px 190px;
    }
</style>
<div class="est container">
    <center>
        <h1>Crear empresa</h1>
    </center>
    <form method="POST">
        <div class="est2 mb-3">
            <label for="date"><b>Empresa</b> </label>
            <input class="form-control" type="text" placeholder="Nombre" id="date" name="date" required>
        </div>
        <div class="est2 mb-3">
            <label for="period"><b>NIT</b></label>
            <input class="form-control" type="number" placeholder="Cod." id="period" name="period" required>
        </div>
        <button type="submit" class="btn btn-outline-success"><i class="bi bi-clipboard-check-fill"></i></button>
    </form>
</div>
{% endblock %}